.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
div{
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid aqua;
    border-radius: 10px;
    padding-right: 5px;
    width: 300px;
}

button{
    background-color: blueviolet;
    color: aliceblue;
    
}